.search-result {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 5;
}

.remove-arrow .dropdown-toggle::after {
  display: none !important;
}

.nav-link-item {
  color: #9f9f9f;
  transition: 0.3s;
  padding: 5px;
  border: 0.5px solid #9f9f9f;
  border-radius: 5px;
}

.nav-link-item:hover {
  color: #464646;
  padding: 5px;
  box-shadow: 1.2px 0px 1.8px -84px rgba(0, 0, 0, 0.074),
    3px 0px 4.5px -84px rgba(0, 0, 0, 0.106),
    6.2px 0px 9.2px -84px rgba(0, 0, 0, 0.134),
    12.8px 0px 19px -84px rgba(0, 0, 0, 0.166),
    35px 0px 52px -84px rgba(0, 0, 0, 0.24);

  background-color: #f2f2f2;
}

.active {
  color: #464646;
  background-color: #f2f2f2;

  pointer-events: none;
  border-radius: 5px;
  box-shadow: 1.2px 0px 1.8px -84px rgba(0, 0, 0, 0.074),
    3px 0px 4.5px -84px rgba(0, 0, 0, 0.106),
    6.2px 0px 9.2px -84px rgba(0, 0, 0, 0.134),
    12.8px 0px 19px -84px rgba(0, 0, 0, 0.166),
    35px 0px 52px -84px rgba(0, 0, 0, 0.24);
}
